@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

:root {
  /* color */
  --colorPrimary: #0d263b;
  --colorSecondary: #696969;

  /* background */
  --backgroundColor: #0061df;

  /* padding */
  --padding: 0 130px;
}